.detailtitle{
    border-top: 1px solid rgba(177, 176, 176, 0.518);
    padding-top:25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:500;
    font-size: 20px;
    padding-left:60px;
    padding-bottom: 20px;
}

.detailw{
    border-bottom: 1px solid rgba(177,176,176,0.518);
    padding-left:60px;
    padding-bottom: 25px;
    padding-right: 30px;
}

.blank{
    height:60px;
}


.sp{
    padding: 5px;
    margin: 5px;
    width:48px;
    background-color: #f0f0f0;
    border:none;
    float:right;
    border-radius: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}

.detailcontents{
    padding:30px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 15px;
    height: auto;
    padding-bottom: 100px;
    min-height: 60px;
    word-break: break-all;
}

.repl{
    padding-left: 60px;
    height: 110px;
    font-family: SUIT-Medium;
    border-top: 1px solid rgba(177,176,176,0.518);
    position: relative;
}

.replPlus{
    height: 60px;
}


.replSpace{
    width: 67%;
    height: 50px;
    margin-left: 150px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 40px;
    margin-bottom: 20px;
    margin-top:35px;
    border: 1px solid #D9D9D9;
    overflow: auto;
    resize: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.replSpace:focus{
    outline: none;
}

.registBtn{
    width: 100px;
    height: 30px;
    top: 52px;
    right: 3%;
    position: relative;
    border-radius: 20px;
    border: none;
    background-color: #F5F5F5;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    float: right;
}

.registBtn:hover{
    background-color: #ebeaea;
}

.userCommentBox{
    padding: 12px;
    padding-bottom: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.userName{
    float: left;
    margin-left: 30px;
    font-weight: 300;
}

.userComment{
    width: 700px;
    word-break: break-all;
    margin-left: 110px;
    font-weight: 400;
    float: left;
    margin-bottom: 0px;
}

.replTime{
    float: left;
    margin-left: 170px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}


.userid{
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.plusBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}