.arrange{
    padding-top: 50px;
    padding-right: 70px;
    float: right;
    margin-left: 68rem;
}

.write{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 60px;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(125, 125, 125, 0.96);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:bold;
    cursor: pointer;

}


.write:hover{
    background-color: #5D0EC0;
    border: 2px solid transparent;
    color: white; 
    font-family: "Noto Sans KR", sans-serif;
}

.upper{
    position: relative;
}

.forPD{
    padding-top: 7.9rem;
    /* padding-right:30px; */
}

.Writetitle{
    text-align: center;
    padding-top: 85px;
    padding-bottom: 20px;
}


.txtTitle{
    width:91%;
    border: 1px solid #C2BEBE;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:300;

}

.txtTitle:focus{
    outline: none;
}

.Writecontent{
    text-align: center;
}

.txtContent{
    width: 91%;
    resize: none;
    border:1px solid #C2BEBE;
    height: 310px;
    padding: 10px;
    padding-top: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: break-all;
    font-weight:300;
    overflow: auto;
}

.txtContent:focus{
    outline:none;
}

.files{
    position: absolute;
    right: 80px;
    margin-top: 30px;
    margin-left: 55px;
}

/* input[type="file"]{
    display: none;
} */

.writeSelect{
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 35px;
    padding-left: 20px;
    margin-left:55px;
    margin-top: 30px;
    border: 1px solid #C2BEBE;
    color:#808080;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    background: url(select-arrow.svg) no-repeat right 50%; 
    background-size: 30px;
}

.writeSelect.background{
    opacity: 0.5;
}


.writeSelect:focus{
    outline:none;
}
