.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#center {
  display: flex;
  gap: 2rem;
}
#center nav{
  background-color: white;
	/* color: #5d0ec0; */
	/* height: 100vh; */
  height: 100vh;
	width: 15rem;
	box-shadow: 0.1rem 0.1rem 0.7rem rgb(200, 200, 200);
  min-width: 15rem;
}

#select {
  /* width: 1230px; */
  width: 76rem;
  text-align: center;
  margin: auto;
  margin-top: 35px;
}

input[type='buttonClick'] {
  width: 170px;
  height: 50px;
  text-align: center;
  color: black;
  margin-left: 5rem;
  border: none;
  font-size: 17px;
  border-radius: 40%;
  background-color: #ffc600;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  box-shadow: 2px 2px 8px rgba(125, 125, 125, 0.96);
  cursor: pointer;
  white-space: pre-line;
}

input[type='button'] {
  width: 170px;
  height: 50px;
  /* margin: 0 65px 40px 65px; */
  margin-bottom: 2.5rem;
  margin-left: 5rem;
  background: none;
  color: black;
  border: none;
  border-radius: 40%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 17px;
  white-space: pre-line;
  cursor: pointer;
}

.writeBtn {
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  width: 85px;
  background-color: white;
  margin-top: 15px;
  margin-right: 40px;
  margin-bottom: 15px;
  float: right;
  box-shadow: 2px 2px 3px rgba(125, 125, 125, 0.96);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.writeBtn:hover {
  background-color: #5d0ec0;
  border: 2px solid transparent;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}
/* 
.YellowSquare {
  width: 1450px;
  height: 540px;
  margin: 0 20px 20px 50px;
  border-radius: 15px;
  background: #ffc600;
  box-shadow: 2px 2px 10px rgba(125, 125, 125, 0.96);
} */

.YellowSquare {
  background-color: #ffc600;
	width: 72.5rem;
	height: 33.5rem;
  left:21rem;
	/* box-shadow: 0.1rem 0.1rem 0.7rem rgb(161, 161, 161);
	border-radius: 0.5rem; */
	position: absolute;
  display:flex;
  box-shadow: 0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
	border-radius: 1.25rem;
}

.PostList {
  position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	flex-direction: column;
	width: 72rem;
  height: 33.5rem;
	/* box-shadow: 0.1rem 0.1rem 0.7rem rgb(161, 161, 161);
	border-radius: 0.5rem; */
	background-color: white;
	gap: 0.5rem;
  overflow-y: auto;
  box-shadow: 0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
	border-radius: 1.25rem;
}


.titleClick {
  cursor: pointer;
}



table {
  text-align: center;
  margin: auto;
  width: 100%;
  border-top: 1px solid rgba(177, 176, 176, 0.518);
  border-bottom: 1px solid rgba(177, 176, 176, 0.518);
}

tr,td {
  padding: 10px;
}

thead {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

tbody {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.pageNum{
  text-align: center;
  height: 46px;
  padding-top: 23px;
}

.PostList::-webkit-scrollbar{
  width:6px;
}

.PostList::-webkit-scrollbar-thumb{
  background-color: rgb(203, 203, 203);
  height: 20%;
  border-radius: 10px;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothicA1-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothicA1-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
