@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.calendar {
	display: flex;
	gap: 6rem;
}

.calendar nav {
	background-color: white;
	color: #5d0ec0;
	height: 100vh;
	width: 15rem;
	box-shadow: 0.1rem 0.1rem 0.7rem rgb(200, 200, 200);
}

.calendarBody {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 1rem;
	margin-top: 1rem;
}

.calendarWeatherInfo {
	display: flex;
	gap: 1rem;
	border: 0.1rem solid black;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	font-size: 5rem;
	padding: 0.5rem;
}

.calendarWeatherInfo p {
	margin: 0;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
}

.calendarBackContainer {
	background-color: #ffc600;
	width: 60rem;
	height: 42rem;
	box-shadow: 0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
	border-radius: 1.25rem;
	position: relative;
	right: 0;
}

.calendarCalendar {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	display: flex;
	flex-direction: column;
	width: 52rem;
	box-shadow: 0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
	border-radius: 1.25rem;
	padding: 4rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: white;
	gap: 2.5rem;
}

/* header */
.calendarHeader {
	display: flex;
	align-items: center;
	align-self: flex-start;
	justify-content: space-between;
	width: 100%;
}

.calendarYearMonth {
	font-family: 'Rubik';
	font-size: 3.5rem;
	align-self: center;
	line-height: 4rem;
	font-weight: 500;
	font-style: normal;
}

.calendarNav {
	display: flex;
}

.calendarPrevBtn,
.calendarNextBtn {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 2rem;
	background-color: transparent;
	cursor: pointer;
	margin-right: 1rem;
	border-radius: 2.5rem;
	box-shadow: 0.1rem 0.1rem 0.3rem rgb(97, 97, 97);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}

/* main */
.calendarMain {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;
	gap: 0.4rem;
}

.calendarMain .calendarWeek {
	display: flex;
}

.calendarMain .calendarWeek .calendarWeekday {
	font-family: 'Rubik';
	width: calc(100% / 7);
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	font-style: normal;
	font-size: 2.2rem;
	margin-bottom: 2.5rem;
}

.calendarMain .calendarDates {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	height: 23.5rem;
	overflow-y: scroll;
}

.calendarMain .calendarDates .calendarDate {
	width: calc(100% / 7);
	text-align: left;
	font-size: 1.1rem;
	min-height: 6rem;
}

.calendarMain .calendarDates .calendarDate span {
	margin: 0;
	padding: 0.1rem 0.3rem;
	font-weight: bold;
	border-radius: 0.5rem;
}

.calendarMain .calendarDates .calendarToday {
	position: relative;
	color: #ffffff;
}

.calendarMain .calendarDates .calendarToday span {
	background-color: black;
}

.calendarMain .calendarDate .calendarOnFest {
	background-color: #5d0ec0;
	margin: 0;
	height: 1.5rem;
	position: relative;
	margin-top: 0.25rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	text-align: center;
	font-size: 0.8rem;
	text-decoration: none;
}
