@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.detail {
	display: flex;
}

.detail nav {
	background-color: white;
	color: #5d0ec0;
	height: 100vh;
	width: 15rem;
	box-shadow: 0.1rem 0.1rem 0.7rem rgb(200, 200, 200);
}

.detailBody {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 1rem;
	padding-left: 2%;
}

.detailBackContainer {
	background-color: #ffc600;
	width: 65vw;
	height: 46.5rem;
	box-shadow: 0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
	border-radius: 1.25rem;
	position: relative;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-top: 2.7rem;
}

.detailContainer {
	position: absolute;
	bottom: 0;
	right: 1.5rem;
	display: flex;
	height: 45rem;
	flex-direction: column;
	width: 100%;
	box-shadow: 0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
	border-radius: 1.25rem;
	background-color: white;
	gap: 1rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-sizing: border-box;
	padding: 1rem;
}

.detailHeader,
.detailMain,
.detailReview {
	display: flex;
	padding: 0.5rem;
	padding-bottom: 0;
	justify-content: center;
	text-align: center;
}

/* header */
.detailHeader {
	height: 2rem;
	align-self: flex-end;
	justify-content: center;
	padding-top: 0;
}

.detailHeader .detailZzimBtn {
	display: flex;
	font-size: 1rem;
	gap: 0.5rem;
	height: 2.5rem;
	width: 6rem;
	border: 0.1rem solid #5d0ec0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #5d0ec0;
	border-radius: 6.25rem;
	font-weight: bold;
	justify-content: center;
	align-content: center;
	background-color: #ffffff;
	cursor: pointer;
	text-align: center;
}

.detailHeader .detailZzimBtn svg,
.detailHeader .detailZzimBtn p {
	align-self: center;
}

.detailHeader .detailZzimBtn p {
	margin: 0;
	line-height: 100%;
}

.detailHeader .detailZzimBtn:hover {
	background-color: #5d0ec0;
	color: white;
}

/* main */
.detailMain {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
}

.detailMain #detailPoster {
	object-fit: contain;
	max-width: 35%;
	padding: 1rem;
}

.detailMain .detailContent {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.detailMain .detailContent .detailDesc {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-bottom: 2rem;
	font-size: 1.05rem;
}

.detailMain .detailContent .detailDesc span {
	font-weight: bold;
}

.detailMain .detailContent .detailDesc .detailTitle {
	font-weight: bold;
}

.detailMain .detailContent .detailMoreInfo {
	font-size: 0.9rem;
	margin-bottom: 2rem;
}

.detailMain .detailContent .detailMoreInfo p {
	margin: 0;
	margin-bottom: 1.3rem;
}

.detailMain .detailContent a,
.detailMain .detailContent a:visited,
.detailMain .detailContent a:link {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 1.2rem;
}

.detailMain .detailTagContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	align-content: center;
	justify-content: center;
}

.detailMain .detailTagContainer p {
	background-color: #d9d9d9;
	padding: 0.5rem 1rem;
	margin: 0;
	border-radius: 0.5rem;
}

/* review */
.detailReview button {
	background-color: #5d0ec0;
	width: 60%;
	text-decoration: none;
	color: white;
	border-radius: 0.5rem;
	font-weight: bold;
	box-shadow: 0 1rem 1rem -1rem #505050;
}

.detailReview a p:first-child {
	margin-bottom: 0.3rem;
	font-size: 1rem;
	line-height: 1.6rem;
}

.detailReview a p:nth-child(2) {
	margin-top: 0;
	font-size: 0.8rem;
}
