* {
	font-family: 'Noto Sans KR', sans-serif;
}

.main {
	display: flex;
	overflow-y: scroll;
	height: 100%;
	background: linear-gradient(to bottom, rgba(67, 0, 131, 0.8), rgba(189, 106, 184, 0.8), rgba(67, 0, 131, 0.8));
	background-repeat: no-repeat;
	background-attachment: local;
	margin: 0;
	text-align: center;
}


.main nav {
	color: #5d0ec0;
	height: 100vh;
	width: 20%;
	background-repeat: repeat;
	box-shadow: none;
}


.main .mainImg {
	position: absolute;
	bottom: 0rem;
	width: 83.4%;
	/* width: 82vw; */
	z-index: 1;
	margin-left: 15.0rem;
	/* right: 0; */
}

.main .mainContent {
	width: 100%;
}
