@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.mainTheme {
	display: flex;
	height: 100%;
}

.mainThemeBody {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.mainThemeBody .mainThemeContent {
	text-align: center;
	color: white;
	font-weight: 600;
	position: absolute;
	top: 1rem;
	text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.mainThemeContent h1 {
	margin: 0;
	margin-top: 1rem;
	margin-bottom: 1.8rem;
}
.active {
	background-color: #5d0ec0;
	color: white;
}

.tagSearchForm .submitBtn {
	border-radius: 3.1rem;
	border: none;
	background-color: white;
	color: black;
	width: 8rem;
	height: 3.5rem;
	font-weight: 600;
	line-height: 2.8rem;
	font-size: 1.8rem;
	cursor: pointer;
	margin-bottom: 2rem;
}

.tagSearchForm .tagDesc {
	position: absolute;
	right: 11%;
	top: -6.7rem;
}

.tagSearchForm .tagContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	position: relative;
	margin: 0 auto;
}

.tagContainer button {
	width: 18rem;
	height: 10.5rem;
	border: none;
	background: #ffffff;
	border-radius: 1.9rem;
	margin: 0;
	cursor: pointer;
	padding: 0;
}

.tagContainer button div {
	height: 55%;
	border-bottom-left-radius: 1.9rem;
	border-bottom-right-radius: 1.9rem;
	padding-top: 0.3rem;
}

.tagContainer button p {
	text-align: right;
	font-size: 2.5rem;
	margin: 0;
	padding-right: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.tagContainer button h1 {
	text-align: left;
	line-height: 2.2rem;
	margin: 0;
	padding-left: 2rem;
	font-size: 1.3rem;
	padding-top: 0.4rem;
}
