.popup {
  position: absolute;
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3rem;
  box-shadow: 0.25rem 0.25rem 0.2rem #5d0ec0;
  width: 32rem;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  z-index: 2;
  gap: 1rem;
  right: 10rem;
  color: black;
}

.popupHigh {
  top: -10rem;
}

.popupLow {
  bottom: 2rem;
}

#popupPoster {
  padding: 0;
  margin: 0;
  object-fit: contain;
  width: 14.5rem;
}

.popup .popupDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.1rem;
}

.popup .popupDesc .popupTitleContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.popupTitleContainer .popupTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.popupTitleContainer .popupTitle p,
.popupTitleContainer .popupPerformanceDate p,
.popupTitleContainer .popupPlace p,
.popupLineUp li,
.popupOpenDate p {
  margin: 0;
}

.popup .popupDesc .popupLineUp ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: center;
  list-style: none;
  padding: 0;
}
