@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.search {
	display: flex;
	padding-left: 0;
	width: 100vw;
	padding-bottom: 0;
}

.search nav {
	background-color: white;
	color: #5d0ec0;
	height: 100vh;
	width: 15rem;
	box-shadow: 0.1rem 0.1rem 0.7rem rgb(200, 200, 200);
}

.searchBody {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	text-align: center;
	padding-left: 2%;
}

.searchBackContainer {
	background-color: #ffc600;
	width: 65vw;
	height: 42rem;
	box-shadow: 0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
	border-radius: 1.25rem;
	position: relative;
	margin-top: 2.5rem;
}

.searchContainer {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
	border-radius: 1.25rem;
	background-color: white;
	box-sizing: border-box;
	padding: 2rem;
	padding-top: 3rem;
	gap: 2rem;
	padding-bottom: 3rem;
}

.searchText p {
	color: #5d0ec0;
	text-align: left;
	padding-left: 1rem;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.searchFestList {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 13rem;
	margin-top: 1rem;
}

.searchFestEach {
	display: flex;
	padding-left: 3rem;
	gap: 1rem;
	padding-top: 1rem;
}

.searchFestList img {
	max-width: 20%;
	object-fit: contain;
}

.searchFestDesc {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.searchFestDesc .searchFestTitle {
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin: 0;
	margin-top: 1rem;
	margin-bottom: 2.4rem;
}

.searchFestDesc .searchFestTitle span {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin: 0;
	margin-top: 1rem;
	margin-bottom: 2.4rem;
}

.searchFestInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-left: 2rem;
}

.searchFestInfo p {
	margin: 0;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.24rem;
}

.searchContainer hr {
	height: 0.01rem;
	width: 100%;
	background-color: black;
}

.searchCommList {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 13rem;
}

.searchCommEach {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 2.5rem;
	margin-bottom: 1rem;
}

.searchCommInfo {
	text-overflow: ellipsis;
}

.searchCommTitle {
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin: 0;
	margin-top: 1rem;
}

.searchCommTitle span {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin: 0;
	margin-top: 1rem;
}

.searchCommInfo {
	padding-left: 2rem;
	margin: 0;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.24rem;
}

.searchCommInfo p {
	margin: 1rem 0;
	color: #929191;
}
