@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.theme {
	display: flex;
	background: linear-gradient(rgba(189, 106, 184, 0.8), rgba(67, 0, 131, 0.8));
	background-repeat: no-repeat;
	margin: 0;
	text-align: center;
	overflow-y: hidden;
}

.theme nav {
	color: #5d0ec0;
	height: 100vh;
	width: 20%;
	box-shadow: none;
}

.theme .mainImg {
	position: absolute;
	bottom: 0rem;
	width: 83.4%;
	z-index: 1;
	margin-left: 15rem;
}

.themeBody {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	z-index: 2;
	height: 100vh;
}

.themeBody .themeContent {
	text-align: center;
	color: white;
	font-weight: 600;
	position: absolute;
	top: 1rem;
	text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.themeContent h1 {
	margin: 0;
	margin-top: 1rem;
	margin-bottom: 1.8rem;
}

.tagSearchForm .submitBtn {
	border-radius: 3.1rem;
	border: none;
	background-color: white;
	color: black;
	width: 8rem;
	height: 3.5rem;
	font-weight: 600;
	line-height: 2.8rem;
	font-size: 1.8rem;
	cursor: pointer;
	margin-bottom: 2rem;
}

.submitBtn:hover {
	background-color: #5d0ec0;
	color: white;
}

.tagSearchForm .tagDesc {
	position: absolute;
	right: 0%;
	top: -6.7rem;
}

.tagSearchForm .tagContainer {
	display: grid;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

.tagContainer button {
	width: 18rem;
	height: 10.5rem;
	border: none;
	background: #ffffff;
	border-radius: 1.9rem;
	margin: 0;
	cursor: pointer;
	padding: 0;
}

.tagContainer button div {
	height: 55%;
	border-bottom-left-radius: 1.9rem;
	border-bottom-right-radius: 1.9rem;
	padding-top: 0.3rem;
}

.tagContainer button p {
	text-align: right;
	font-size: 2.5rem;
	margin: 0;
	padding-right: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.tagContainer button h1 {
	text-align: left;
	line-height: 2.2rem;
	margin: 0;
	padding-left: 2rem;
	font-size: 1.3rem;
	padding-top: 0.4rem;
}

.active {
	background-color: #5d0ec0;
	color: white;
}
